<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/home.css">
    <title>EPC</title>
</head>

<body>

    <h1>Seja Bem-Vindo e ótimo dia !!!</h1>
    <div class="dashboard">
            <a href="/user/insert_pedido">
                <img src="../public/img/cadastro_usuario.png" alt="">
                <H3>CADASTRAR PEDIDO</H3>
            </a>
    </div>

    <div class="dashboard">
            <a href="/user/list_pedidos">
                <img src="../public/img/036-infographic.png" alt="">
                <H3>LISTA PEDIDOS</H3>
    </div>


</body>

</html>