<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros</title>
    <link rel="stylesheet" href="/public/insert_pedido.css">
</head>

<body>
    <div class="btn-01-02">
        <div class="btn-01">
            <a class="btn-01-return" href="/user/list_pedidos">Voltar</a>
        </div>
    </div>
    <div class="miolo">
        <form action="/user/insert_pedido" method="POST">
            <div class="centro-miolo">
                <h1>PEDIDO DE COMPRA</h1>
                <div class="email">
                    <input type="number" placeholder="Numero do Pedido" name="pedido" required>
                </div>
                <div id="dtpedido"  class="email">
                    <input type="date" placeholder="" name="dtpedido" required>
                </div>
                <div class="email">
                    <input type="date" minlength="6" placeholder="Previsão Entrega" name="preventrega" required>
                </div>
                <div class="email">
                    <input type="text" minlength="6" placeholder="Fornecedor" name="fornecedor" required>
                </div>
                <div class="email">
                    <input type="text" minlength="6" placeholder="Material" name="material" required>
                </div>
                <div class="email">
                    <input type="number" minlength="6" placeholder="largura" name="largura" required>
                </div>
                <div class="email">
                    <input type="number" minlength="6" placeholder="quantidade" name="quantidade" required>
                </div>
                <div class="email">
                    <input type="number" minlength="6" placeholder="Mts Linear" name="linear" required>
                </div>
                <div class="email">
                    <input type="number" minlength="6" placeholder="Qtd. Total" name="total" readonly>
                </div>


                <div class="botao" onclick="total()">
                    <button> Salvar
                </div>
            </div>
        </form>
    </div>
</body>

</html>